*{
    margin:0;
    padding:0;
}

h1{
    margin-top: 1em;
    text-align: center;
}

body{
    white-space: inherit;
    padding: 20px;
    justify-content: space-between;
}

fieldset{
    border: 2px solid #eb5a23; 
    border-color: #eb5a23;
}

label
{
width: 20%;
text-align : left;
padding-left : 5px;
}

@media screen and (max-width:1280px)
{
   
body{
    display: absolu;
}

    
}
