*{
    margin: 0;
    padding: 0;
}
html{
    background-color:#1e1e1e;
    color: #e6e6e6;
    margin: auto;
}
body{
    width: 100%;
}
h1, h2, h3, h4, h5, h6, legend{
    font-family: Arial;
    font-size: 150%;
}

li{
    font-family: Arial;
}
p{
    font-family: Arial;
    font-size: 75%;
}
a{
    font-family: Arial;
    text-decoration: none;
}
a:link{
    color: #e6e6e6;
}
a:visited{
    color: #e6e6e6;
}